@import "../variables.pcss";

footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: var(--main);
  text-align: center;
  font-size: 50px;
  color: rgb(91, 17, 128);
}